<configuration debug="true" scan="true" scanPeriod="30 seconds">


    <appender name="application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${applicationLogFile}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/mylog.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss} %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>



    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>



    <!-- This logger doesn't have to have appender-ref to application LOGGER,
        because the root logger already have it. If you add an appender the the messages
        from com.kcal will be logged twice-->
    <logger name="com.kcal" level="debug" >
        <appender-ref ref="console"/>
    </logger>

    <root level="error">
        <appender-ref ref="application"/>
    </root>
</configuration>